@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');


/* Navbar */
.topnav {
  width: 100%;
  overflow: hidden;
  background-color: #cdcdcd;
  position: fixed;
}

.topnav a.rightAlign {
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #adadad;
}

.topnav a.active {
	background-color: #8a8a8a;
	color: black;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  margin: 0;
  
}
/* Header */
.header {
  padding-top: 50px;
  text-align: center; 
  color: black;
  font-size: 35px;
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
}

/* Main */
.main {
  width: 65%;
  max-width: 100%;
  margin: auto;
}

.main a {
  font-size: 26px;
  font-weight: bolder;
  color: black;
  padding-top: 12px;
  padding-bottom: 6px;
  text-decoration: none;
}

.main p {
  letter-spacing: 1.2px;
  font-size: 16px;
  color: black;
  line-height: 8px;
}

.main button{
  background-color: black;
  color: white;
  border: none;
  padding: 11px 40px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.fakeimg {
  background-color: #aaa;
  width: 160px;
  height: 160px;
}

img {
  width: 180px;
  height: 180px;
}



/* Column layout*/
.column {
  float: left;
}

.one, .four {
  width: 180px;
}

.two {
  width: 35%;
  text-align: left;
  padding-left: 10px;
}

.three{
  width: 25%;
  text-align: right;
  padding-right: 10px;
}

.row {
  margin-bottom: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - stacks if screen gets smaller */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

/* Footer */
.footer {
  width: 100%;
  background-color: #cdcdcd;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  color: black;
}
